* {
  margin: 0;
  padding: 0;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  font-weight: 300, 400;
  /* max-width: 1440px; */
  overflow-x: hidden;
}
main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  overflow-x: hidden;
}
header {
  height: 100px;
  margin-top: -20px;
  background: hsl(0, 0%, 100%);
  width: 100%;
}
header .hd-main {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
header .logo {
  margin-left: 25px;
}
header .hd-main nav ul {
  display: flex;
  justify-content: space-around;
  width: 450px;
  /* border: 1px solid red; */
}
nav ul li {
  font-size: 15px;
  color: hsl(233, 8%, 62%);
  font-weight: 300;
}
nav ul li:hover {
  cursor: pointer;
  padding-bottom: 10px;
  border-bottom: 2px solid hsl(192, 70%, 51%);
}
li {
  list-style-type: none;
}
.btn-inv {
  border: none;
  height: 30px;
  width: 150px;
  border-radius: 15px;
  color: hsl(0, 0%, 100%);
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  margin-right: 90px;
}
.btn-inv:hover {
  cursor: pointer;
}
/* banner sthyling for desktop view */
.banner {
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.next-gen {
  width: 30%;
  margin-left: 40px;
  background: hsl(0, 0%, 100%);
  padding: 20px;
  line-height: 1.5;
}
.next-gen h1 {
  font-size: 35px;
  font-weight: 400;
  font-family: "Public Sans", sans-serif;
  color: hsl(233, 26%, 24%);
  margin-top: 90px;
  width: 43vmin;
}
.next-gen p {
  color: hsl(233, 8%, 62%);
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
  text-align: left;
  width: 75vmin; /* will take 75% of the device small dimension */
}
.next-gen .btn {
  margin-top: 30px;
}
.img-rg img {
  /* width:600px;
  height:650px; */
  max-width: 100%;
  height: auto;
  margin-left: 100px;
  margin-top: -30px;
}
.img-rg {
  width: 50%;
  margin-top: -50px;
  z-index: -1;
  background-image: url(/images/bg-intro-desktop.svg);
  background-repeat: no-repeat;
  background-position: right 120% top 90%;
  background-size: 800px;
}

/* +++++++++++++++++++++++++++== styling for unboarding section ==++++++++++++++++++++++++++++++++++++++++++++++++ */
.unboard {
  background-color: hsl(220, 16%, 96%);
  /* padding:50px;
      margin-top:40px; */
  position: relative;
  z-index: -100;
  width: 100%;
  overflow-x: hidden;
}
.unboard .text {
  height: 150px;
  width: 650px;
}
.text h2 {
  margin: 20px;
  font-size: 27px;
  font-weight: 500;
  font-family: "Public Sans", sans-serif;
  color: hsl(233, 26%, 24%);
}

.text p {
  margin: 20px;
  font-size: 15px;
  font-family: "Public Sans", sans-serif;
  color: hsl(233, 26%, 24%);
}
.cards {
  border: 2px solid black;
  /* display:flex;
      justify-content: space-around;
      flex-wrap: wrap;
      height: auto;
      width: auto; */
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0 70px 30px;
  width: auto;
  padding: 20px;
}
.cards .crd {
  border: 2px solid blue;
  margin: 15px;
  /*padding: 10px; */
  width: 20%;
  height: auto;
}
.cards .crd h3 {
  margin: 27px 0 0 10px;
  font-size: 20px;
  font-family: "Public Sans", sans-serif;
  color: hsl(233, 26%, 24%);
}
.crd p {
  margin: 50px 5px 0 5px;
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  color: hsl(233, 26%, 24%);
  line-height: 1.5;
}
/* +++++++++++++++++++++++++++== styling for article section ==++++++++++++++++++++++++++++++++++++++++++++++++ */
.article {
  background-color: hsl(0, 0%, 98%);
  /* padding:20px; */
  width: 100%;
  overflow-x: hidden;
}
.article h2 {
  /* margin:50px 0 0 70px; */
  padding: 50px 0 0 70px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}
.article .cardsA {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 50px 0 70px 30px;
  width: auto;
}

.article .crdA {
  width: 230px;
  background-color: hsl(0, 0%, 100%);
  /* margin: 25px; */
}
.cardsA .crdA,
h4,
h3,
p {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.crdA h4 {
  font-size: 10px;
  color: hsl(233, 8%, 62%);
}
.crdA h3 {
  font-size: 18px;
  font-weight: 400;
  color: hsl(233, 26%, 24%);
}
.crdA h3:hover {
  color: hsl(192, 70%, 51%);
  cursor: pointer;
}
.crdA p {
  font-size: 15px;
  color: hsl(233, 8%, 62%);
}
.article .crdA img {
  max-width: 100%;
  height: auto;
  border-radius: 10px 10px 0 0;
}
/* +++++++++++++++++++++++++++== styling for footer section ==++++++++++++++++++++++++++++++++++++++++++++++++ */
footer {
  background: hsl(233, 26%, 24%);
  height: 30vh;
}
.ft-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding:50px; */
  height: 30vh;
}
.ft-main .social {
  margin-top: 40px;
}
.ft-main .social img {
  padding: 5px;
}
.ft-main .social img:hover {
  cursor: pointer;
  color: hsl(136, 65%, 51%);
}
.ft-main .icons {
  margin-left: 50px;
}
.ft-main .btn-ft {
  margin-right: 55px;
}
.ft-main .btn-ft p {
  padding-top: 25px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.ft-main li {
  padding: 7px;
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@media only screen and (max-width: 500px) {
  main {
    width: 100%;
    overflow-x: hidden;
  }
  /* header .hd-main {
          width: 100%;
          justify-content: space-around;
      } */
  /* .cards .crd{
         margin: 20px;
          width: 50%;
          height:auto;
      } */
  .unboard {
    border: 2px solid red;
    height: auto;
    width: 450px;
    overflow-x: hidden;
  }
  .cards {
    /* background:red; */
    display: grid;
    grid-template-rows: 620px;
    height: auto;
    margin: 0 auto;
  }
  .cards .crd {
    text-align: center;
    padding: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  header .btn-inv {
    display: none;
  }
  header .nav {
    display: none;
  }
  .banner {
    border: 2px solid red;
    display: flex;
    flex-direction: row;
    height: 100vh;
    padding: 20px;
  }
  .next-gen {
    border: 2px solid blue;
    height: auto;
  }
  .img-rg {
    border: 2px solid yellowgreen;
    height: 50vh;
  }
}
/* tablet view */
@media only screen and (max-width: 750px) {
  main {
    width: 100%;
    overflow-x: hidden;
  }
  header .hd-main {
    max-width: 100%;
    /* margin: 0 auto;
      display: flex;
      justify-content: space-around;
      margin-top: 30px; */
  }
  .btn-inv {
    width: 100px;
    font-size: 12px;
  }
  .unboard {
    border: 2px solid red;
    height: auto;
    width: auto;
    overflow-x: hidden;
  }
  .cards {
    padding: 20px;
    margin: 20px;
  }
  .cards .crd {
    width: 35%;
    height: auto;
    /* margin: 20px; */
  }
}
