/* general settings */
:root {
  --colorText: hsl(220, 16%, 96%);
  --colorBG: hsl(233, 8%, 62%);
  --colorDB: hsl(233, 26%, 24%);
  --colorWhite: hsl(0, 0%, 100%);
  --colorBCian: hsl(192, 70%, 51%);
  --colorVLGrey: hsl(0, 0%, 98%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.btn {
  border: none;
  border-radius: 25px;
  height: 40px;
  width: 150px;
}
/* general settings ends */
/* Starting with a mobile firs approach */
main {
  border: 2px solid red;
  max-width: 375px;
  margin: 0 auto;
  /* padding: 2px; */
  overflow-x: hidden;
}
header {
  width: 371px;
  height: auto;
  background: hsl(0, 0%, 100%);
  position: fixed;
  /* display: none; */
  /* width: 450px; */
  /* margin: 0 auto; */
}

header .hd-main {
  /* border: 2px solid black; */
  height: 12vh;
  display: flex;
  justify-content: space-between;
}
header .hd-main .logo {
  margin: 20px;
}
.hd-main .btn-inv {
  display: none;
}
.burger {
  /* border: 2px solid yellow; */
  display: block;
  width: 35px;
  height: 35px;
  margin: 15px -200px 0 0;
}
.burger .line {
  margin: 6px 0 0 6px;
}
.burger .line1 {
  border-top: 0.3px solid black;
  width: 20px;
}
.burger .line2 {
  border-top: 0.3px solid black;
  width: 20px;
}
.burger .line3 {
  border-top: 0.3px solid black;
  width: 20px;
}

.hd-main .nav {
  display: none;
}

/* banner section styling */
.banner {
  display: flex;
  flex-direction: column-reverse;
}
.img-rg {
  margin-top: -40px;
  height: auto;
}
.next-gen {
  height: 300px;
  padding: 20px;
  background: var(--colorWhite);
  /* text-align: center; */
}
.next-gen h1 {
  font-size: 35px;
  font-weight: 600;
  color: var(--colorDB);
  width: 350px;
  margin: 10px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.next-gen p {
  font-size: 15px;
  font-weight: 400;
  color: var(--colorBG);
  line-height: 1.7;
  letter-spacing: 0.5px;
}
.btn-inv {
  color: #fff;
  padding: 10px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  margin: 20px 0 20px 80px;
}
/* banner section styling */
.unboard {
  /* border: 2px solid black; */
  text-align: center;
  background: var(--colorText);
}
.unboard p {
  font-size: 15px;
  font-weight: 400;
  color: var(--colorBG);
  line-height: 1.7;
  letter-spacing: 0.5px;
}
.text {
  padding: 10px;
}
.text h2 {
  font-size: 30px;
  font-weight: 600;
  color: var(--colorDB);
  width: 200px;
  margin: 10px 0 10px 80px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.cards {
  /* border: 2px solid green; */
  padding: 10px;
}
.cards .crd {
  margin: 10px 10px 40px 10px;
}
.crd h3 {
  font-size: 25px;
  font-weight: 400;
  color: var(--colorDB);
  margin: 10px 0 10px 0;
  line-height: 1.1;
  letter-spacing: 1.5px;
}
/* article section styling */
.article {
  padding: 10px;
  background: var(--colorVLGrey);
}
.art-txt {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.art-txt h2 {
  font-size: 35px;
  font-weight: 450;
  color: var(--colorDB);
  /* width: 200px; */
  margin: 10px 0 10px 0;
  line-height: 1.5;
  letter-spacing: 2px;
}
.cardsA {
  margin-top: 20px;
}
.cardsA .crdA {
  background: var(--colorWhite);
  margin: 20px;
  border-radius: 10px;
  height: 500px;
}
.cardsA .crdA img {
  border-radius: 10px 10px 0 0;
}
.crdA h4 {
  font-size: 13px;
  /* font-weight: 450; */
  color: var(--colorBG);
  /* margin: 10px 0 10px 0; */
  line-height: 1.5;
  letter-spacing: 2px;
  margin: 5px;
}
.crdA h3 {
  font-size: 25px;
  font-weight: 450;
  color: var(--colorDB);
  margin: 20px 10px 0 10px;
  line-height: 1;
  letter-spacing: 1px;
}
.crdA p {
  font-size: 15px;
  font-weight: 400;
  color: var(--colorBG);
  line-height: 1.7;
  letter-spacing: 0.5px;
  margin: 30px 10px 0 10px;
}

/* ###################################### styling for big screen ########################### */
@media screen and (min-width: 568px) {
  main {
    border: 2px solid black;
  }
}
@media screen and (min-width: 776px) {
  main {
    border: 2px solid blue;
  }
}
