/* general settings */
:root {
  --colorText: hsl(220, 16%, 96%);
  --colorBG: hsl(233, 8%, 62%);
  --colorDB: hsl(233, 26%, 24%);
  --colorWhite: hsl(0, 0%, 100%);
  --colorBCian: hsl(192, 70%, 51%);
  --colorVLGrey: hsl(0, 0%, 98%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.btn {
  border: none;
  border-radius: 25px;
  height: 40px;
  width: 150px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* general settings ends */
/* Starting with a mobile firs approach */
main {
  /* border: 2px solid var(--colorWhite); */
  max-width: 375px;
  margin: 0 auto;
  /* padding: 2px; */
  overflow-x: hidden;
}
.btn:active {
  border: none;
}
header {
  width: 100%;
  height: auto;
  background: hsl(0, 0%, 100%);
  position: fixed;
}

header .hd-main {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hd-main .logo img {
  margin: 20px;
  height: 25px;
}
.hd-main .btn-inv {
  display: none;
}
/* .burger {
  display: block;
  width: 35px;
  height: 35px;
  margin-left: 15rem;
} */
.burger .line {
  margin: 6px 0 0 6px;
}
.burger .line1 {
  border-top: 0.3px solid black;
  width: 20px;
}
.burger .line2 {
  border-top: 0.3px solid black;
  width: 20px;
}
.burger .line3 {
  border-top: 0.3px solid black;
  width: 20px;
}

/* .hd-main .nav-links {
  display: none;
} */

/* banner section styling */
.banner {
  display: flex;
  flex-direction: column-reverse;
  /* text-align: center; */
  margin: 0 auto;
  height: auto;
}
.img-rg {
  margin-top: -40px;
  height: auto;
  width: 100%;
}
.next-gen {
  height: auto;
  padding: 20px;
  background: var(--colorWhite);
  margin: 10px auto;
  width: 80%;
  text-align: center;
}
.next-gen h1 {
  font-size: 35px;
  font-weight: 600;
  color: var(--colorDB);
  /* width: 350px; */
  margin: 10px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.next-gen p {
  font-size: 15px;
  font-weight: 400;
  color: var(--colorBG);
  line-height: 1.7;
  letter-spacing: 0.5px;
}
.btn-inv {
  color: #fff;
  padding: 10px;
  background: linear-gradient(to right, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  margin: 20px auto;
}
/* banner section styling */
.unboard {
  /* border: 2px solid black; */
  text-align: center;
  background: var(--colorText);
}
.unboard p {
  font-size: 15px;
  font-weight: 400;
  color: var(--colorBG);
  line-height: 1.7;
  letter-spacing: 0.5px;
}
.text {
  padding: 10px;
}
.text h2 {
  font-size: 30px;
  font-weight: 600;
  color: var(--colorDB);
  width: 200px;
  margin: 10px 0 10px 80px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.cards {
  /* border: 2px solid green; */
  padding: 10px;
}
.cards .crd {
  margin: 10px 10px 40px 10px;
}
.crd h3 {
  font-size: 25px;
  font-weight: 400;
  color: var(--colorDB);
  margin: 10px 0 10px 0;
  line-height: 1.1;
  letter-spacing: 1.5px;
}
/* article section styling */
.article {
  padding: 10px;
  background: var(--colorVLGrey);
}
.art-txt {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.art-txt h2 {
  font-size: 35px;
  font-weight: 450;
  color: var(--colorDB);
  /* width: 200px; */
  margin: 10px 0 10px 0;
  line-height: 1.5;
  letter-spacing: 2px;
}
.cardsA {
  margin-top: 20px;
}
.cardsA .crdA {
  background: var(--colorWhite);
  margin: 20px;
  border-radius: 10px;
  height: 500px;
}
.cardsA .crdA img {
  border-radius: 10px 10px 0 0;
}
.crdA h4 {
  font-size: 13px;
  /* font-weight: 450; */
  color: var(--colorBG);
  /* margin: 10px 0 10px 0; */
  line-height: 1.5;
  letter-spacing: 2px;
  margin: 5px;
}
.crdA h3 {
  font-size: 25px;
  font-weight: 450;
  color: var(--colorDB);
  margin: 20px 10px 0 10px;
  line-height: 1;
  letter-spacing: 1px;
}
.crdA p {
  font-size: 15px;
  font-weight: 400;
  color: var(--colorBG);
  line-height: 1.7;
  letter-spacing: 0.5px;
  margin: 30px 10px 0 10px;
}
/* styling for the footer secction */

footer {
  background: var(--colorDB);
  text-align: center;
  height: 500px;
}
.ft-main .logo {
  margin: 10px;
}
.icons .social {
  margin: 10px;
}
.icons .social img {
  margin: 10px;
}
.link li {
  color: var(--colorWhite);
  font-size: 17px;
  margin: 15px;
}
.help li {
  color: var(--colorWhite);
  font-size: 17px;
  margin: 15px;
}
.ft-main .btn {
  margin-left: 20px;
}
.btn-ft p {
  color: var(--colorBG);
  font-size: 17px;
  margin: 15px;
}
/* styling for nav mobile view */

@media screen and (max-width: 768px) {
  .burger {
    display: block;
    width: 35px;
    height: 35px;
    position: absolute;
    /* top: -15px; */
    left: 100px;
    transform: translate(-5%, -50%);
    cursor: pointer;
  }
  nav {
    position: relative;
  }
  .hd-main .nav-links {
    display: none;
    position: fixed;
    height: 75vh;
    width: 100%;
    background: hsl(136, 65%, 51%);
    flex-direction: column;
  }
}
/* ###################################### styling for big screen ########################### */
@media screen and (min-width: 568px) {
  main {
    max-width: 1440px;
    overflow-y: hidden;
  }
  header {
    width: 99.85%;
  }
  nav {
    width: 45vw;
  }
  .hd-main .nav-links {
    display: flex;
    justify-content: space-around;
  }

  .burger {
    display: none;
  }
  .banner {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .next-gen {
    width: 50%;
    padding: 100px 60px 0 60px;
    text-align: left;
    height: 75vh;
    background: none;
  }
  .next-gen h1 {
    font-size: 45px;
    font-weight: 700;
  }
  .next-gen p {
    font-size: 18px;
  }
  .img-rg {
    width: 50%;
    background-image: url(/images/bg-intro-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  .unboard {
    margin-top: -90px;
    padding: 20px 40px;
  }
  .text {
    text-align: left;
    width: 70%;
    /* padding: 5px 10px 5px 60px; */
    margin: 10px;
  }
  .text h2 {
    width: 100%;
    width: 100%;
    margin: 0;
    line-height: 2;
    font-size: 35px;
  }
  .text p {
    font-size: 18px;
  }
  .cards {
    display: flex;

    padding-top: 20px;
  }
  .cards .crd {
    text-align: left;
  }
  .article {
    text-align: left;
    height: auto;
  }
  .cardsA {
    display: flex;
    /* flex-wrap: wrap; */
    padding: 0 40px;
    margin: 0 auto;
  }
  .cardsA .crdA {
    margin: 5px 10px;
    height: auto;
    width: 25%;
  }

  .art-txt h2 {
    margin: 0;
    text-align: left;
    width: 100%;
    padding: 0 60px;
  }
  footer {
    height: 35vh;
    margin-top: 10px;
  }
  .ft-main {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
    justify-items: center;
  }
  .ft-main .icons img {
    height: 25px;
  }
  .ft-main li {
    font-size: 22px;
  }
}
